/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* bootstrap override*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,    
.h6 {
    font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 17px;
}

.btn {
    font-size: 17px;
}

.navbar {
    background-color: #563d7c;
}

.navbar-brand {
    font-family: "Lobster","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
    background: #e9e9eb;
    padding: 15px 20px;
    color: #232425;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-head {
    padding: 20px 0;
    position: relative;
}